.skills {
  margin-top: 10rem;
  color: var(--color-fuente);
  display: flex;
  font-family: var(--Montserrat);
  font-weight: bold;
  flex-direction: column;
}

.skills__titulo,
.skills__blandas__titulo {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

.skills__lista,
.skills__blandas__lista {
  display: flex;
  font-weight: bolder;
  font-size: 20px;
  margin: 4rem 4rem 4rem 4rem;
  text-align: center;
  justify-content: space-between;
}

.skills__lista-item,
.skills__blandas__lista-item {
  background: #4f446e;
  border: 5px solid #6e5c2e;
  border-radius: 10px;
  height: 12rem;
  margin-right: 2rem;
  padding: 0.5rem;
  width: 15rem;
  transition: 0.5s all;
}

.skills__lista-item:hover,
.skills__blandas__lista-item:hover {
  transform: scale(1.2);
}

.skills___lista-icono,
.skills__blandas__lista__imagen {
  height: 70px;
  margin: 1rem;
}

.skills___lista-titulo,
.skills__blandas__lista__titulo {
  margin: 1rem;
}

@media screen and (max-width: 480px) {
  .skills__lista,
  .skills__blandas__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6rem;
  }

  .skills__lista-item,
  .skills__blandas__lista-item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  .skills__lista,
  .skills__blandas__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6rem;
  }

  .skills__lista-item,
  .skills__blandas__lista-item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .skills__lista,
  .skills__blandas__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6rem;
  }

  .skills__lista-item,
  .skills__blandas__lista-item {
    margin-bottom: 2rem;
  }
}
